{% extends 'base.html' %}
{% load i18n %}
{% block content %}


<div class="ui container">
<h1>Pesquisa: {{ research }}</h1>
<p><strong>do Formulário:</strong> {{ research.Groups.name}}</p>
<p><strong>Criado por:</strong> {{ research.created_by }}</p>
<p><strong>Criado em:</strong> {{ research.created_at }}</p>
</div>

<div class="ui container">
<table class="ui inverted table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Cargo</th>
            <th>Companhia</th>
            <th>Criterios</th>
            <th>preferências</th>
            <th>ic</th>
            <th>Data</th>
            <th>Idade</th>
            <th>Time_emp</th>
            <th>Time_xp</th>
            <th>Sexo</th>
            <th>Escolaridade</th>
        </tr>
    </thead>
        <tbody>
            {% for el in executions %}
          <tr>
            <td data-label="Name">{{el.who}}</td>
            <td data-label="Name">{{el.email}}</td>
            <td data-label="Name">{{el.occupation}}</td>
            <td data-label="Job">{{el.company}}</td>
            <td data-label="Job">{{el.criterions}}</td>
            <td data-label="Job">{{el.preferences}}</td>
            <td data-label="Age">{{el.ic}}</td>
            <td data-label="Job">{{el.created_at}}</td>
            <td data-label="Age">{{el.age}}</td>
            <td data-label="Age">{{el.time_emp}}</td>
            <td data-label="Age">{{el.time_xp}}</td>
            <td data-label="Age">{{el.sexo}}</td>
            <td data-label="Age">{{el.escolaridade}}</td>
          </tr>
          {% endfor %}
        </tbody>
</table>
</div>

precisa quantas execuções <br> <br>

precisa ultima execução <br> <br>

precisa de opção  para baixar os dados exportar csv <br> <br>

precisa lista dos que executaram e talvez dos que ainda não executaram (obrigatório implementar sistema de emails)  <br> <br>
<Br>
<a href="{% url 'research:execution' research.Groups.id %}"> https://ahp-mcdm.herokuapp.com{% url 'research:execution' research.Groups.id %}</a>
<Br>

{% endblock %}